<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="f-head" th:replace="fragment/head::head"></div>

<body>
<div class="f-header" th:replace="fragment/header::header"></div>

<div class="container mt-3 mb-3">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <!-- Material form register -->
            <div class="card">

                <h5 th:text="${isAdd} ? #{add-m}:#{update-article}" class=" font-weight-bold card-header success-color white-text text-center py-4">

                </h5>

                <!--Card content-->
                <div class="card-body px-lg-5 pt-0">

                    <!-- Form -->
                    <form th:action="${isAdd}? '/add':'/update'" method="post" enctype="multipart/form-data">
                        <div class="form-row">
                            <div class="col">
                                <!-- First name -->
                                <div class="md-form">
                                    <input type="text" class="form-control" th:field="${book.id}" placeholder="ID"  >
                                    <span th:if="${#fields.hasErrors('book.id')}" style="color: red">* This field is require</span><br>
                                    <input type="text"  class="form-control" th:field="${book.title}"  placeholder="TITLE"  ><br>
                                    <span th:if="${#fields.hasErrors('book.title')}" style="color: red">* This field cannot be blank</span>
                                    <input type="text" class="form-control" th:field="${book.description}"  placeholder="DESCRIPTION" ><br>
                                    <span th:if="${#fields.hasErrors('book.description')}" style="color: red">* This field cannot be blank</span>
                                    <input type="text" class="form-control" th:field="${book.author}"  placeholder="AUTHOR" ><br>
                                    <span th:if="${#fields.hasErrors('book.author')}" style="color: red">* This field cannot be blank</span>

                                    <select th:field="${book.category.id}" class="browser-default custom-select" >
                                        <option selected value="0">Choose Category</option>
                                        <option th:each="category:${categories}"  th:text="*{category.name}"  th:value="*{category.id}"></option>
                                    </select>
                                    <input class="mt-3" type="file"  name="file">
                                    <span th:if="${#fields.hasErrors('book.image')}" style="color: red">* Require image</span>

                                    <!--<button class="btn btn-success" value="submit" type="submit" >Submit</button>-->
                                </div>
                            </div>
                        </div>
                        <!-- Sign up button -->
                        <button class="btn btn-outline-success btn-rounded btn-block my-4 waves-effect z-depth-0" value="submit" type="submit" th:text="${isAdd}? #{Save}:#{Submit}"></button>
                        <hr>

                    </form>
                    <!-- Form -->

                </div>

            </div>
            <!-- Material form register -->

        </div>
        <div class="col-md-2"></div>
    </div>

</div>

<div class="f-footer" th:replace="fragment/footer::footer"></div>

</body>
</html>