<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="f-head" th:replace="fragment/head::head"></div>
<body>

<div class="f-header" th:replace="fragment/header::header"></div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-6">
                    <h2 class="mt-2 font-weight-bold" th:text="#{article}">ARTICLE</h2>
                    <a href="/add"><button class="btn btn-success"  th:text="#{add-m}" ><i class="fas fa-plus"></i> </button></a>

                </div>
                <div class="col-md-6">
                    <form class="mt-3" th:action="@{/search/{filterId}(filterId=${filter.id})}">
                        <input class="form-control mr-3"  type="text" placeholder="Search" name="s" aria-label="Search">
                        <select th:field="${filter.id}" onchange="this.form.submit()" class="browser-default custom-select mb-1" >
                            <option selected value="0">All</option>
                            <option th:each="category:${categories}" th:text="*{category.name}"  th:value="*{category.id}"></option>
                        </select>
                    </form>
                </div>

            </div>

            <table class="table">
                <tbody>
                <tr th:each="book:${books}">
                    <td><img th:src="'/images/'+*{book.image}" class="rounded-circle z-depth-0" style="width: 70px;height: 70px"></td>
                    <td><h5 th:text="*{book.title}" class="font-weight-bold"></h5>
                        <p style=" margin-bottom:0px;" th:text="*{book.id}"></p>
                        <p style="color: deepskyblue; margin-bottom:0px;" th:text="*{book.author}"></p>
                        <p style="margin-bottom:0px" th:text="*{book.description}"></p>
                        <p style="margin-bottom:0px" th:text="*{book.date}"></p>
                        <h6  style="margin-bottom:0px;" class="font-weight-bold" th:text="*{book.category.name}"></h6>
                    </td>
                    <td>
                        <a  th:href="@{/view/{id}(id=*{book.id})}">
                            <button type="button" class="btn btn-outline-info waves-effect px-3">
                                <i class="fas fa-eye" aria-hidden="true"></i></button>
                        </a>
                        <a  th:href="@{/update/{id}(id=*{book.id})}">
                            <button type="button" class="btn btn-outline-success  waves-effect px-3">
                                <i class="fas fa-edit" aria-hidden="true"></i></button>
                        </a>
                        <a  th:href="@{/delete/{id}(id=*{book.id})}">
                            <button type="button" class="btn btn-outline-danger waves-effect px-3">
                                <i class="fas fa-trash-alt" aria-hidden="true"></i></button>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8 paging mt-0 mb-3">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination pagination-circle pg-blue ml-5">
                            <li class="page-item "><a th:class="${paging.getPage()==1}? 'disabled page-link' :'page-link'" th:href="@{/page/{page}(page=1)}" th:text="#{first-m}" >First</a></li>
                            <li class="page-item ">
                                <a th:href="@{/page/{page}(page=${paging.getPage()-1})}" th:class="${paging.getPage()==1}? 'disabled page-link':'page-link'"  aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            <th:block th:each="p,iStat : ${#numbers.sequence(1,__${paging.getTotalPage()}__)}">
                                <li th:class="${paging.getPage()==iStat.count}? 'active page-item':'page-item'">
                                    <a th:text="${iStat.count}"
                                       th:href="@{/page/{page}(page=${iStat.count})}" class="page-link">
                                    </a>
                                </li>
                            </th:block>
                            <li class="page-item">
                                <a th:class="${paging.getPage()==paging.getTotalPage()? 'disabled page-link':'page-link'}" th:href="@{/page/{page}(page=${paging.getPage()+1})}"  aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span  class="sr-only">Next</span>
                                </a>
                            </li>
                            <li class="page-item"><a th:class="${paging.getPage()==paging.getTotalPage()? 'disabled page-link':'page-link'}" th:href="@{/page/{page}(page=${paging.getTotalPage()})}" th:text="#{last-m}" >Last</a></li>
                        </ul>
                    </nav>

                </div>
                <div class="col-md-2"></div>
            </div>

        </div>
        <div class="col-md-2">

        </div>
    </div>

</div>
<div class="f-footer" th:replace="fragment/footer::footer"></div>
</body>

<!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.2/js/mdb.min.js"></script>
</html>