<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="f-head" th:replace="fragment/head::head"></div>

<body>

<div class="f-header" th:replace="fragment/header::header"></div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <h2 class="mt-2 font-weight-bold" th:text="#{search-result}"></h2>
            <table class="table">
                <tbody>
                <tr th:each="book:${books}">
                    <td><img th:src="'/images/'+*{book.image}" class="rounded-circle z-depth-0" style="width: 70px;height: 70px"></td>
                    <td><h5 th:text="*{book.title}" class="font-weight-bold"></h5>
                        <p style=" margin-bottom:0px;" th:text="*{book.id}"></p>
                        <p style="color: deepskyblue; margin-bottom:0px;" th:text="*{book.author}"></p>
                        <p style="margin-bottom:0px" th:text="*{book.description}"></p>
                        <p style="margin-bottom:0px" th:text="*{book.date}"></p>
                        <h6  style="margin-bottom:0px;" class="font-weight-bold" th:text="*{book.category.name}"></h6>
                    </td>
                    <td>
                        <a  th:href="@{/view/{id}(id=*{book.id})}">
                            <button type="button" class="btn btn-outline-info waves-effect px-3">
                                <i class="fas fa-eye" aria-hidden="true"></i></button>
                        </a>
                        <a  th:href="@{/update/{id}(id=*{book.id})}">
                            <button type="button" class="btn btn-outline-success  waves-effect px-3">
                                    <i class="fas fa-edit" aria-hidden="true"></i></button>
                        </a>
                        <a  th:href="@{/delete/{id}(id=*{book.id})}">
                            <button type="button" class="btn btn-outline-danger waves-effect px-3">
                                <i class="fas fa-trash-alt" aria-hidden="true"></i></button>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
            <!--<div class="row">-->
                <!--<div class="col-md-2"></div>-->
                <!--<div class="col-md-8 paging mt-0 mb-3">-->
                    <!--<nav aria-label="Page navigation example">-->
                        <!--<ul class="pagination pagination-circle pg-blue ml-5">-->
                            <!--<li class="page-item "><a th:class="${paging.getPage()==1}? 'disabled page-link' :'page-link'" th:href="@{/search/{page}(page=1)}"  >First</a></li>-->
                            <!--<li class="page-item ">-->
                                <!--<a th:href="@{/search/{page}(page=${paging.getPage()-1})}" th:class="${paging.getPage()==1}? 'disabled page-link':'page-link'"  aria-label="Previous">-->
                                    <!--<span aria-hidden="true">&laquo;</span>-->
                                    <!--<span class="sr-only">Previous</span>-->
                                <!--</a>-->
                            <!--</li>-->
                            <!--<th:block th:each="p,iStat : ${#numbers.sequence(1,__${paging.getTotalPage()}__)}">-->
                                <!--<li th:class="${paging.getPage()==iStat.count}? 'active page-item':'page-item'"><a th:text="${iStat.count}" th:href="@{/search/{page}(page=${iStat.count})}" class="page-link">1</a></li>-->
                            <!--</th:block>-->
                            <!--<li class="page-item">-->
                                <!--<a th:class="${paging.getPage()==paging.getTotalPage()? 'disabled page-link':'page-link'}" th:href="@{/page/{page}(page=${paging.getPage()+1})}"  aria-label="Next">-->
                                    <!--<span aria-hidden="true">&raquo;</span>-->
                                    <!--<span  class="sr-only">Next</span>-->
                                <!--</a>-->
                            <!--</li>-->
                            <!--<li class="page-item"><a th:class="${paging.getPage()==paging.getTotalPage()? 'disabled page-link':'page-link'}" th:href="@{/search/{page}(page=${paging.getTotalPage()})}" >Last</a></li>-->
                        <!--</ul>-->
                    <!--</nav>-->

                <!--</div>-->
                <!--<div class="col-md-2"></div>-->
            <!--</div>-->

        </div>
        <div class="col-md-2">

        </div>
    </div>

</div>
<div class="f-footer" th:replace="fragment/footer::footer"></div>
</body>
</html>