<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="f-head" th:replace="fragment/head::head"></div>

<body>
<div class="f-header" th:replace="fragment/header::header"></div>

<div class="container mt-3 mb-3">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <!-- Material form register -->
            <div class="card">

                <h5 th:text="#{view-detail}" class=" font-weight-bold card-header success-color white-text text-center py-4">
                </h5>
                <!-- Card Narrower -->
                <div class="card card-cascade narrower">

                    <!-- Card image -->
                    <div class="view view-cascade overlay">
                        <img th:src="'/images/'+*{book.image}" style="width: 90%;height: 600px;margin:auto;margin-top: 10px "><br>
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!-- Card content -->
                    <div class="card-body card-body-cascade">
                       <!-- Label -->
                        <h3 th:text="*{book.title}" class="font-weight-bold"></h3><br>
                        <h5  th:text="*{book.author}" style="color: deepskyblue"></h5>
                        <p th:text="*{book.description}" style="margin-bottom: 0px"></p><br>
                        <p th:text="*{book.date}"></p><br>
                        <h6 class="font-weight-bold" th:text="*{book.category.name}"></h6><br>
                    </div>

                </div>
                <!-- Card Narrower -->

            </div>
            <!-- Material form register -->

        </div>
        <div class="col-md-2"></div>
    </div>
</div>
<div class="f-footer" th:replace="fragment/footer::footer"></div>

</body>
</html>