body{
    background-color: lightgray;
    font-family: 'Francois One','Bayon'; font-size: 100%;
}

table,tr,td{
    background-color: aliceblue;
}
td{
    margin: 0px;
    padding: 0px;
}
.disabled{
    color: grey !important;
}
.paging{
    background-color: aliceblue;
    width: 100%;
    height: 35px;

}