<div class="f-footer"  xmlns:th="http://www.thymeleaf.org" th:fragment="footer">
    <!-- Footer -->
    <footer class="page-footer font-small teal pt-4">

        <!-- Footer Text -->
        <div class="container-fluid text-center text-md-left">

            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-md-6 mt-md-0 mt-3">

                    <!-- Content -->
                    <h4 class="text-uppercase font-weight-bold" th:text="#{article-management}"></h4>

                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none pb-3">


            </div>
            <!-- Grid row -->

        </div>
        <!-- Footer Text -->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2018 Copyright:
            <a href="https://mdbootstrap.com/education/bootstrap/"> KSHRD/SR/SUN SENGLY</a>
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->
</div>