<div class="f-head" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>ARTICLES MANAGEMENT</title>
        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
        <!-- Bootstrap core CSS -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
        <!-- Material Design Bootstrap -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.2/css/mdb.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Bayon|Francois+One" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Bayon" rel="stylesheet" type="text/css">
        <link href="../style.css" rel="stylesheet">


    </head>
</div>
