<div class="f-header" xmlns:th="http://www.thymeleaf.org" th:fragment="header">
    <nav class="navbar navbar-dark default-color justify-content-between">
        <!-- Search form -->
        <a class="navbar-brand" href="/"><h3 class="font-weight-bold" th:text="#{article-management}" ​​​></h3></a>

        <form  class="form-inline my-1">
            <a th:href="@{/}" style="color: white" class="mr-2" th:text="#{home}" ></a>
            <a th:href="@{/category}" style="color: white" class="mr-2" th:text="#{category-m}" ></a>
            <a style="color: white" class="mr-2" th:text="#{about-us}" ></a>
            <span style="color: white" th:text="#{Language}"></span>
            <a style="color: white" href="?lang=kh" class="mr-2" th:text="#{khmer}"></a>
            <a style="color: white" href="?lang=en" class="mr-2" th:text="#{english}" ></a>
        </form>
    </nav>
</div>