<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="f-head" th:replace="fragment/head::head"></div>

<body>
<div class="f-header" th:replace="fragment/header::header"></div>

<div class="container mt-3 mb-3">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <!-- Material form register -->
            <div class="card">

                <h5 th:text="${isAdd}? 'Add Category':'Update Category'" class=" font-weight-bold card-header success-color white-text text-center py-4"></h5>
                <!--Card content-->
                <div class="card-body px-lg-5 pt-0">
                    <!-- Form -->
                    <form th:action="${isAdd}? '/addCategory':'/updateCategory'" method="post" enctype="multipart/form-data">
                        <div class="form-row">
                            <div class="col">
                                <!-- First name -->
                                <div class="md-form">
                                    <input type="hidden" th:field="${category.id}">
                                    <input type="text" class="form-control" th:field="${category.name}"  placeholder="Category Name" ><br>
                                    <span th:if="${#fields.hasErrors('category.name')}" style="color: red">* This field cannot be blank</span>
                                </div>
                            </div>
                        </div>
                        <!-- Sign up button -->
                        <button class="btn btn-outline-success btn-rounded btn-block my-4 waves-effect z-depth-0" value="submit" type="submit" th:text="${isAdd}? 'Submit':'Save'">Submit</button>
                        <hr>

                    </form>
                    <!-- Form -->

                </div>

            </div>
            <!-- Material form register -->

        </div>
        <div class="col-md-2"></div>
    </div>

</div>

<div class="f-footer" th:replace="fragment/footer::footer"></div>

</body>
</html>