<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="f-head" th:replace="fragment/head::head"></div>

<body>

<div class="f-header" th:replace="fragment/header::header"></div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
            <h2 class="mt-2 font-weight-bold" th:text="#{category-mm}"></h2>
            <a href="/addCategory"  ><button class="btn btn-success" th:text="#{add-m}" ><i class="fas fa-plus"></i> Add</button></a>
            <table class="table">
                <thead>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Action</th>
                </thead>
                <tbody>
                <tr th:each="category:${categories}" th:object="${category}">
                    <td th:text="*{id}"></td>
                    <td th:text="*{name}"></td>
                    <td>
                        <a  th:href="@{/updateCategory/{id}(id=*{id})}">
                            <button type="button" class="btn btn-outline-success  waves-effect px-3">
                                <i class="fas fa-edit" aria-hidden="true"></i></button>
                        </a>
                        <a  th:href="@{/deleteCategory/{id}(id=*{id})}">
                            <button type="button" class="btn btn-outline-danger waves-effect px-3">
                                <i class="fas fa-trash-alt" aria-hidden="true"></i></button>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
        <div class="col-md-3">

        </div>
    </div>

</div>
<div class="f-footer" th:replace="fragment/footer::footer"></div>
</body>
</html>